.notification {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: baseline;
  width: 280px;
}

.ptb-100 {
  padding: 100px 0px;
}

.radio-text {
  width: 50px;
}